a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0px;
}

.name {
    font-size: 30px;
    background-color: blanchedalmond;
    padding: 10px;
}

.navigation a {
    background-color: bisque;
    font-size: 20px;
    border-radius: 15px;
    padding: 10px;
}

.navigation a:hover {
    background-color: aquamarine;
    transition: 0.7s;
}

.navigation {
    margin-left: 50%;
    margin-top: 15px;
}