* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    background-color: rgb(235, 222, 203);
    height: 65px;
}

body {
    margin: 0px;
}

.name {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 30px;
    padding: 10px;
}

.navigation a {
    background-color: rgb(216, 187, 151);
    font-size: 20px;
    border-radius: 15px;
    padding: 10px;
}

.navigation a:hover {
    background-color: aquamarine;
    transition: 0.7s;
}

.navigation {
    margin-left: 10%;
    margin-top: 20px;
}

.log-in {
    display: flex;
    font-size: 20px;
    margin-left: 15%;
    margin-top: 10px;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(127, 255, 212);
    height: 40px;
    border: 0;
    align-items: center;
}

.sign-in {
    display: flex;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(127, 255, 212);
    height: 40px;
    border: 0;
    align-items: center;
}